.container-main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}


.content {
  width: 80%;
  padding-top: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card:hover {
  transform: scale(1.02);
  z-index: 1;
}

.card {
  background-color: #fff;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
}

.card-title {
  margin-left: 1rem;
}

.card-quantity {
  color: #222;
}

.update-button {
  padding: 0.6rem 0.4rem;
  font-size: 1rem;
  background-color: #222222;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5%;
  text-decoration: none;
  text-align: right;
}

.update-button:hover {
  background-color: transparent;
  border: 1px solid #222;
  color: #222;
  transition: 0.2s;
}
